services:
  - type: web
    name: frota-sanemar
    env: python
    region: oregon  # Mais próximo do Brasil entre as opções
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app.py"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        value: 5000
    healthCheckPath: /health
